.transactionTbl {
    font-family: "Agency FB", sans-serif;
    border-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.transactionTbl tr:nth-child(1) {
    background: #C7F5DE;
    font-weight: normal;
}

.transactionTbl tr:nth-child(1) > th:nth-child(even) {
    background: #91CBAE;
}


.transactionTbl td, .transactionTbl th{
    padding: 5px 25px;
}

.transactionTbl th{

}
.transactionTbl tbody > tr:nth-child(odd) {
    background: #91CBAE;
}
.transactionTbl tbody > tr:nth-child(odd) > td:nth-child(even) {
    background: #86bca1;
}

.transactionTbl tbody > tr:nth-child(even) {
    background: #a3e5c4;
}
.transactionTbl tbody > tr:nth-child(even) > td:nth-child(even) {
    background: #91cbae;
}

/*transaction form*/

form.transactionForm > input {
    display: block;
    background: lightgray;
    color: #666;
    line-height: 0;
    font: 17px "agency fb", sans-serif, bold;
    border: 1px solid transparent;
    border-radius: 0;
    margin: 0;
    padding: 0 5px;
    outline-color: rgb(81, 143, 112);
    text-transform: uppercase;
    text-align: center;
}

form.transactionForm > input:focus  {
    outline-color: rgb(81, 143, 112);
}
form.transactionForm {
    display: flex;
    flex-direction: row;
    padding: 0;
    background: #c7f5de;
    margin: 0;
}

button.addTransBtn {
    font: 19px "agency FB", sans-serif;
    text-decoration: none;
    border: 1px solid #518F70;
    color: #518f70;
    padding: 5px 5px;
    display: block;
    text-align: center;
    border-radius: 6px;
    background: #fff;
    margin-bottom: 35px;
    cursor: pointer;
}
button.addTransBtn:focus {
    outline-color: transparent;
}

.addTransDiv {
    margin: 60px 0 20px;
}

button.submit {
    padding: 0px;
    font: 25px "Agency FB";
    background: #A3E5C4;
    border: 1px solid #A3E5C4;
    border-radius: 3px;
    text-align: center;
    color: white;
    margin: 5px;
    min-width: 100px;
}